.divH1{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 50% 50%;
}
.itemH1{
    grid-area: 1/1;
    margin-top: 50px;
}
.itemH2{
    grid-area: 2/1;
}
.itemH3{
    grid-area:2/2;
}